In [3]:
import cv2
import glob
import pandas as pd
import spatialite
import numpy as np
import shutil

In [4]:
con = spatialite.connect('../output/results.db')
df = pd.read_sql('select id, frame_id, AsText(geometry) AS polygon from vcuts', con)
df

      id  frame_id                                            polygon
0      1       176  POLYGON((25 280.5, 12 280.5, 4.5 274, 2.5 251,...
1      2       176  POLYGON((451 57.5, 426 49.5, 419.5 43, 415.5 2...
2      3       177  POLYGON((610 438.5, 582 433.5, 578.5 428, 579....
3      4       252  POLYGON((35 382.5, 15 382.5, 5.5 376, 6.5 297,...
4      5       388  POLYGON((323 788.5, 274 785.5, 258.5 775, 250....
..   ...       ...                                                ...
137  138     13134  POLYGON((61 183.5, 31.5 180, 32.5 150, 47.5 12...
138  139     13135  POLYGON((405 229.5, 393 226.5, 368 229.5, 360 ...
139  140     13255  POLYGON((753 443.5, 745.5 441, 727.5 402, 728....
140  141     13399  POLYGON((154 153.5, 135 146.5, 125 132.5, 107 ...
141  142     13436  POLYGON((562 258.5, 513 242.5, 497 229.5, 465 ...

[142 rows x 3 columns]

In [5]:
image_list = sorted(glob.glob('../rawdata/*.jpg'))

In [6]:
len(image_list)

13508

In [7]:
# frame_number = 5953
# fn = image_list[frame_number]
# print(fn)
# img = cv2.imread(fn)
# cv2.imwrite('myimage.jpg', img)

In [11]:
# Populate a directory, 'vcut_images', with images in which one or more vcuts were detected

for i, r in df.iterrows():
#     if i == 10:
#         break
    print(i)
    input_image_path = image_list[r.frame_id-1]
    output_image_path = input_image_path.replace('rawdata', 'vcut_images')
    shutil.copy(input_image_path, output_image_path)

#     img = cv2.imread(input_image_path)

#     print(r.polygon)
    
    
    
    
#     cv2.polylines(img, [pts], False, (0, 255, 255))    
#     cv2.imwrite(output_image_path, img)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141

In [42]:
l = []
for t in r.polygon.split():
    try:
        l.append(float(t))
    except ValueError:
        pass
    
l

[426.0,
 419.5,
 415.5,
 421.0,
 451.0,
 462.0,
 474.0,
 481.5,
 484.5,
 464.0,
 456.5,
 451.0]

In [66]:
p = r.polygon
p = p.replace('POLYGON((', '')
p = p.replace('))', '')
p = p.replace(',', '') 
str_list = p.split()
print(str_list)

num_list = []
for s in str_list:
    num_list.append(int(float(s)))
print(num_list)   

pts = np.array(num_list)
pts = pts.reshape(len(pts)//2, 2)
pts = np.flip(pts)
pts

['451', '57.5', '426', '49.5', '419.5', '43', '415.5', '20', '421', '4.5', '451', '3.5', '462', '12.5', '474', '6.5', '481.5', '7', '484.5', '35', '464', '41.5', '456.5', '55', '451', '57.5']
[451, 57, 426, 49, 419, 43, 415, 20, 421, 4, 451, 3, 462, 12, 474, 6, 481, 7, 484, 35, 464, 41, 456, 55, 451, 57]

array([[ 57, 451],
       [ 55, 456],
       [ 41, 464],
       [ 35, 484],
       [  7, 481],
       [  6, 474],
       [ 12, 462],
       [  3, 451],
       [  4, 421],
       [ 20, 415],
       [ 43, 419],
       [ 49, 426],
       [ 57, 451]])

In [64]:
np.flip(pts)

array([[ 57, 451],
       [ 55, 456],
       [ 41, 464],
       [ 35, 484],
       [  7, 481],
       [  6, 474],
       [ 12, 462],
       [  3, 451],
       [  4, 421],
       [ 20, 415],
       [ 43, 419],
       [ 49, 426],
       [ 57, 451]])